.alert {
  @include  box-sizing();
  text-align: left;
  font-size: 0;
  &-danger {
    width: 90%;
    // max-width: 1092px;
    // height: 110px;
    margin: 0 auto;
    padding: 22px 24px 22px 40px;
    border-radius: 5px;
    background-color: $dangerColorBg;
  }
  &-txt {
    display: inline-block;
    color: $mainFontColor;
    font-size: 22px;
    vertical-align: top;
    &-content {
      padding-top: 4px;
    }
    &-xl {
      font: 50px $titleFontFace;
      letter-spacing: 3px;
    }
  }
  &-separate {
    position: relative;
    top: -2px;
    display: inline-block;
    width: 1px;
    height: 70px;
    margin-left: 74px;
    margin-right: 32px;
    background-color: $separateColorBg;
  }
}
