.page {
  display: inline-block;
  width: 100%;
}
.container {
  width: 100%;
  .grid {
    &-row {
      width: 90%;
      max-width: 1092px;
      min-width: 819px;
    }
  }
  &-domains {
    .grid-col-1 {
      height: 60px;
    }
  }
  &-bonus {
    .btn-success {
      margin-top: 50px;
    }
  }
}
