.page {
  display: inline-block;
  width: 100%;
}
.container {
  width: 100%;
  .grid {
    &-row {
      width: 90%;
      max-width: 1092px;
      // min-width: 819px;
    }
  }
  &-why {
    .alert {
      min-width: 1092px;
      margin-top: 55px;
      margin-bottom: 50px;
      white-space: nowrap;
    }
    .title-why {
      line-height: 65px;
    }
  }
  .grid-col-1 {
    height: 60px;
    margin-bottom: 0;
  }
  &-bonus {
    .btn-success {
      margin-top: 50px;
    }
  }
}
