.page {
  display: inline-block;
  width: 100%;
  min-width: 320px;
}
.container {
  width: 100%;
  min-width: 320px;
  .grid {
    &-row {
      width: 90%;
      max-width: 1092px;
      // min-width: 819px;
    }
  }
  &-why {
    .alert {
      max-width: 1092px;
      margin-top: 50px;
      margin-bottom: 45px;
      white-space: nowrap;
    }
  }
  .grid-col-1 {
    height: 60px;
    margin-bottom: 0;
  }
  &-bonus {
    .btn-success {
      margin-top: 50px;
    }
  }
}
.icon-plus-bold {
  transform-origin: 50% 50%;
}
.title-why {
  width: 90%;
  margin: 80px auto 45px;
  line-height: 60px;
}
