.content {
  &-copy {
    font-size: 14px;
    color: $mainFontColor;
    opacity: .5;
  }
  &-domains {
    position: relative;
    height: 783px;
    @include box-sizing();
    padding-top: 120px;
  }
  &-bonus {
    color: $defaultFontColor;
    .grid-row {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &-text-domains {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 12px;
    font-weight: bold;
    color: $mainFontColor;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  &-title {
    &-xl {
      font-size: 80px;
      line-height: 80px;
    }
    &-l {
      font-size: 50px;
      line-height: 50px;
    }
    &-m {
      font-size: 35px;
      line-height: 35px;
    }
    &-domains {
      color: $mainFontColor;
      font-family: $titleFontFace, $mainFontFace, Arial, Helvetica, sans-serif;
      font-size: 80px;
      line-height: 80px;
    }
    &-bonus {
      margin-top: 55px;
      margin-bottom: 80px;
      color: $defaultFontColor;
      font-family: $mainFontFaceBold, $mainFontFace, Arial, Helvetica, sans-serif;
    }
    &-why {
      color: $mainFontColor;
      font-family: $mainFontFaceBold, $mainFontFace, Arial, Helvetica, sans-serif;
    }
  }
}
.service {
  &-name {
    margin-top: 10px;
    font-size: 20px;
  }
  &-info {
    position: relative;
    display: none;
    border: 1px solid $infoBorderColor;
    padding: 28px 40px;
    background-color: $infoBgColor;
    border-radius: 7px;
    font-size: 16px;
    text-align: left;
    &-corner {
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      border: 1px solid $infoBorderColor;
      border-width: 1px 0 0 1px;
      @include transform(rotate(45deg) translate(-9px, -9px))
      -webkit-transform-origin: 0 0;
      -moz-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      transform-origin: 0 0;
      @include box-sizing();
      background: #f7f7f7;
    }
  }
  .content-title-l.content-title-why {
    font-family: $titleFontFace, $mainFontFace, Arial, Helvetica, sans-serif;
  }
}
