.container {
  &-domains {
    height: 843px;
    background: url('/img/bg/bg_skyball.jpg') no-repeat center center;
    background-size: 1428px 843px;
    .grid-row {
      position: relative;
    }
  }
  &-why {
    max-height: 840px;
    padding-bottom: 40px;
    margin-top: 85px;
    @include box-sizing();
    background: url('/img/bg/bg_sky.jpg') no-repeat center center;
    background-size: 1424px 840px;
  }
}
