.container {
  position: relative;
  min-height: 843px;
  &-domains {
    height: 843px;
    background: url('/img/bg/bg_skyball.jpg') no-repeat center center;
    background-size: 1428px 843px;
  }
  &-why {
    height: 840px;
    margin-top: 85px;
    background: url('/img/bg/bg_sky.jpg') no-repeat center center;
    background-size: 1424px 840px;
  }
}
