.grid {
  &-row {
    display: flex;
    flex-wrap: wrap;
    max-width: 1092px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0;
  }
  @for $i from 1 through 12 {
    &-col-#{$i} {
      position: relative;
      margin-bottom: 10px;
      // min-width: 198px;
      @include col(1, $i)
      font-size: 16px;
      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}
