.logo {
  text-align: left;
  margin-top: 30px;
  &-domains {
    display: inline-block;
    margin-left: 5px;
    font: 16px $mainFontFaceBold;
    text-transform: lowercase;
    color: $mainFontColor;
    vertical-align: top;
    line-height: 1;
    &-default {
      font-family: $mainFontFace;
      color: $defaultFontColor;
    }
  }
  &-why {
    font-family: $mainFontFace;
  }
  &-main {
    display: inline-block;
    height: 16px;
    width: 65px;
    svg {
      fill: $mainFontColor;
    }
  }
  &-danger {
    display: inline-block;
    height: 16px;
    width: 65px;
    svg {
      fill: $dangerFontColor;
    }
  }
}
